/* Geral */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Righteous&display=swap');
/*RESET */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, summary, footer, main, aside{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}
/* Variaveis */
:root {
    --pink: #e91e63;
    --deep-purple: #673ab7;
    --indigo: #3f51b5;
    --cyan: #00bcd4;
    --light-green: #8bc34a;
    --yellow: #ffec42;
    --amber: #ffc107;
    --orange: #ff9800;
    --white: #ffffff;
    --black: rgb(42, 42, 42);
}
/* Body */
h1 {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: var(--black);
    margin-bottom: 2rem;
    margin-top: 1rem;
}
/* Towers */
.container {
    font-family: 'Londrina Solid', cursive;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container p { margin-bottom: 2rem;}

.container__towers {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 90vw;
    max-width: 850px;
}
.tower {
    width: 30%;
    height: 60%;
    position: relative;
    border-bottom: 10px solid var(--black);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 0.6rem solid var(--black);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
}
.tower::before{
    content: '';
    background-color: var(--black);
    position: absolute;
    height: 100%;
    width: 8px;
    left: calc(50% - 5px);
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* Blocos de torre */
li {height: 15%; border-radius: 10px;}

li:last-child:hover{ transform: translateY(-3px);}
li { height: 15%; border-radius: 10px;}

/* Blocos */
.primeiroBloco{width: 95%; background-color: var(--pink);}
.segundoBloco{width: 80%;background-color: var(--cyan);}
.terceiroBloco{ width: 60%; background-color: var(--light-green);}
.quartoBloco{ width: 40%;
    background-color: var(--deep-purple);
}
/* Deixando em destaque */
div .hold {background-color: var(--yellow);}

.resetBtn { width: 80px; height: 40px;}

/* Reset do final */
#reset {
    width: 95%;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 0.1rem;
    height: 95%;
    font-size: 1.1rem;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    border: 3px solid var(--black);
    cursor: pointer;
}
#reset:hover {background-color: var(--black);
    color: var(--white);
}
/* Mensagem de entrada */
.message {
    font-family: 'Londrina Solid', cursive;
    font-size: 1rem;
    color: #1b276e;
    padding: 3px;
    display: block;
    position: absolute;
    width: 75vw;
    max-width: 600px;
    max-height: 90px;
    height: 25vh;
    background-color: #ffdb6ef5;
    border-radius: 10px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    top: 13%;
    left: 0;
    right: 0;
    text-align: center;
}
#exit {
    width: 16px;
    height: 16px;
    color: #c30041;
    display: block;
    float: right;
    font-family: sans-serif;
    margin: 2px;
    font-weight: 900;
    cursor: pointer;
}
#moves {margin: 0 8px;}

.hidden{display: none;}
/* Media */
@media (min-width: 700px){
    li {height: 22%;}

    h1{font-size: 3rem;}

    .container {font-size: 1.7rem;}

    .resetBtn { width: 110px; height: 60px;}

    #reset {font-size: 1.3rem;}

    .message {font-size: 1.3rem;}
}
